### `Task` Train a Lasso And Ridge Regression model on Boston House Price Datset. And also show how it reduces overfitting in compare to normal Linear regression model.

Data set Link - https://www.kaggle.com/datasets/altavish/boston-housing-dataset

DataSet description:
```
ZN: proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS: proportion of non-retail business acres per town
CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
NOX: nitric oxides concentration (parts per 10 million)
RM: average number of rooms per dwelling
AGE: proportion of owner-occupied units built prior to 1940
DIS: weighted distances to ﬁve Boston employment centers
RAD: index of accessibility to radial highways
TAX: full-value property-tax rate per $10,000
PTRATIO: pupil-teacher ratio by town 12. B: 1000(Bk−0.63)2 where Bk is the proportion of blacks by town 13. LSTAT: % lower status of the population
MEDV: Median value of owner-occupied homes in $1000s (Target)
```

In [1]:
# Your Code goes here
import pandas as pd
import numpy as np

df = pd.read_csv('HousingData.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [2]:
df.shape

(506, 14)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [11]:
for i in df.columns:
    df[f'{i}'].fillna(df[f'{i}'].mean(),inplace=True)

In [13]:
X = df.drop(columns='MEDV')
y = df['MEDV']

In [21]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X = scaler.fit_transform(X)

In [108]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [109]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)
y_train_pred = lr.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

Accuracy Training:  0.7431820438587626
Accuracy Testing: 0.6482067942752938

In [120]:
rd = Ridge(alpha=400,solver='sparse_cg',max_iter=100)
rd.fit(X_train, y_train)

y_pred = rd.predict(X_test)
y_train_pred = rd.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

Accuracy Training:  0.6329814662386505
Accuracy Testing: 0.5334219936308808

In [113]:
lss = Lasso(alpha=2,max_iter=100)
lss.fit(X_train, y_train)

y_pred = lss.predict(X_test)
y_train_pred = lss.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

Accuracy Training:  0.5770868981043392
Accuracy Testing: 0.4872465317338528

In [122]:
from sklearn.linear_model import SGDRegressor

sgd = SGDRegressor(alpha=2,max_iter=1000,eta0=0.001, penalty='l1',learning_rate='constant')
sgd.fit(X_train,y_train)

y_pred = sgd.predict(X_test)
y_train_pred = sgd.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

Accuracy Training:  0.5815572302345257
Accuracy Testing: 0.49344368273195627

### `Task` perform Lasso and Ridge in Wine Quality dataset and show how it's different from Linear Regression.

Data link : https://docs.google.com/spreadsheets/d/e/2PACX-1vQDVwxneOKOaJL13QMhkAhYrgWlH1tICY7RacUnj_lL8m9uUWaaUf3p7bScNyh_D2Rvt7nc1q11adSy/pub?gid=647503637&single=true&output=csv

```

```

In [1]:
# Loading Wine dataset
import pandas as pd
df = pd.read_csv('winequality.csv')
df.drop(columns='type',inplace=True)
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [2]:
# Your Code goes here
df.shape

(6497, 12)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6487 non-null   float64
 1   volatile acidity      6489 non-null   float64
 2   citric acid           6494 non-null   float64
 3   residual sugar        6495 non-null   float64
 4   chlorides             6495 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6488 non-null   float64
 9   sulphates             6493 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 609.2 KB

In [4]:
for i in df.columns:
    df[f'{i}'].fillna(df[f'{i}'].mean(),inplace=True)

In [5]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.295751,0.164548,0.145231,4.757392,0.035031,17.749400,56.521855,0.002999,0.160637,0.148768,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [6]:
X = df.drop(columns='quality')
y = df['quality']

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X = scaler.fit_transform(X)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [9]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)
y_train_pred = lr.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

Accuracy Training:  0.2972772848120697
Accuracy Testing: 0.27101797318733845

In [10]:
rd = Ridge(alpha=400,solver='sparse_cg',max_iter=100)
rd.fit(X_train, y_train)

y_pred = rd.predict(X_test)
y_train_pred = rd.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

Accuracy Training:  0.2940575693649793
Accuracy Testing: 0.2683893868600701

In [27]:
lss = Lasso(alpha=0)
lss.fit(X_train, y_train)

y_pred = lss.predict(X_test)
y_train_pred = lss.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

C:\Users\Aniket\anaconda3\lib\site-packages\sklearn\base.py:1151: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  return fit_method(estimator, *args, **kwargs)
C:\Users\Aniket\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  model = cd_fast.enet_coordinate_descent(

Accuracy Training:  0.2972772848120697
Accuracy Testing: 0.27101797318733845

C:\Users\Aniket\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.381e+03, tolerance: 3.930e-01 Linear regression models with null weight for the l1 regularization term are more efficiently fitted using one of the solvers implemented in sklearn.linear_model.Ridge/RidgeCV instead.
  model = cd_fast.enet_coordinate_descent(

In [23]:
from sklearn.linear_model import SGDRegressor

sgd = SGDRegressor(alpha=0,max_iter=100,eta0=0.001, penalty='l2',learning_rate='constant')
sgd.fit(X_train,y_train)

y_pred = sgd.predict(X_test)
y_train_pred = sgd.predict(X_train)

print('Accuracy Training: ',r2_score(y_train, y_train_pred))
print('Accuracy Testing:',r2_score(y_test, y_pred))

Accuracy Training:  0.29500593738879166
Accuracy Testing: 0.2679861210322376